{% extends 'base_operator.html' %}

{% block title %}Operator - Machine Conditions{% endblock %}

{% block content %}
<h2>Machine Efficiency Overview</h2>
<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Unique Identifier</th>
        <th>Machine Name</th>
        <th>Efficiency (%)</th>
    </tr>
    {% for machine in machine_data %}
    <tr>
        <td>{{ machine.id }}</td>
        <td>{{ machine.unique_id }}</td>
        <td>{{ machine.name }}</td>
        <td>{{ machine.efficiency }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
